.btnTask {
    width: 100%;
    background: #5cb85c;
}

.footer {
    text-align: center;
}

.fToDoList {
    border: 1px solid black;
    padding: 50px;
}

.wrapperToDoList {
    padding: 0px 50px 50px;
}
